.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.containerAnimals {
  display: flex;
  margin: 1em;
  border: #f6f4e6 solid;
  box-shadow: 5px 5px  rgba(221, 2, 2, 0.15);
  color: #ffe203;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
